.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.kotlin
/java_pid30916.hprof
/app/release/app-release.apk
/app/release/output.json
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
